@import "highlight.js/styles/atom-one-dark.css";
@import "floating-vue/dist/style.css";

html {
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;

  --bg-color: #ffffff;
  --text-color: #000000;
  --hint-color: #444444;
  --code-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --border-color: #ddd;
  --font-family: 'Rubik', sans-serif;

  &.cs-dark {
    --bg-color: #000000;
    --text-color: #ffffff;
    --hint-color: #999999;
    --code-shadow: 0 0 0 1px #333;
    --border-color: #222;
  }
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0,
  'wght' 500,
  'GRAD' -25,
  'opsz' 48
}

.material-symbols-rounded.filled {
  font-variation-settings: 'FILL' 1,
  'wght' 500,
  'GRAD' -25,
  'opsz' 48
}

.material-symbols-rounded.bold {
  font-variation-settings: 'FILL' 0,
  'wght' 900,
  'GRAD' -25,
  'opsz' 48
}

html, body {
  padding: 0;
  margin: 0;

  font-family: var(--font-family);

  background-color: var(--bg-color);
  color: var(--text-color);

  line-height: 1.25;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
}

#__nuxt {
  padding: 0 1rem;

  overflow-x: hidden;
}

.container {
  padding: 1rem 0;

  margin-left: auto;
  margin-right: auto;

  max-width: 1024px;
}

.container-small {
  margin-left: auto;
  margin-right: auto;

  max-width: 640px;
}

.diia-word {
  color: #485cb0;
  font-weight: 500;
}

.nav-toggle {
  position: fixed;
  z-index: 1001;

  top: 1rem;
  left: 1rem;

  width: 54px;
  height: 54px;

  font-size: 1.5rem;
  background-color: rgba(var(--bg-color_rgb), .1);
  border: none;
  border-radius: 2px;

  background-image: radial-gradient(transparent 1px, var(--bg-color) 1px);
  background-size: 4px 4px;
  backdrop-filter: saturate(50%) blur(4px);

  color: var(--text-color);

  &.playing {
    background-color: var(--sidebar-color);
    background-image: none;
    background-size: 100%;
    backdrop-filter: none;
    color: var(--sidebar-text-color);
  }

  @media screen and (min-width: 956px) {
    display: none;
  }
}

pre, code {
  font-family: "Fira Code", monospace !important;
  font-weight: 500;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.external {
  font-weight: 500;
}

.hljs {
  background-color: black !important;
}

//.hljs-title.function_ {
//  color: lighten(#9d3425, 20) !important;
//}

a {
  text-decoration: none;
  color: var(--text-color);
}

.star {
  font-size: 8px;
}

.logo-dark,
.logo-light {
  display: none;
}

.cs-light {
  .logo-dark {
    display: none;
  }

  .logo-light {
    display: inline;
  }
}

.cs-dark {
  .logo-light {
    display: none;
  }

  .logo-dark {
    display: inline;
  }
}

blockquote {
  border-left: 0.5rem solid #485cb0;
  margin: 1.5em 0;
  padding: 0.5em 1rem;
  quotes: none;

  &.success {
    border-left-color: #f3d74b;
  }
}

.small-code {
  font-size: 0.8rem;
  padding: .1rem .25rem;
}

code:not(.hljs) {
  padding: 0.1rem 0.5rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
  font-size: 0.9rem;
  box-sizing: border-box;
  font-family: "Fira Code", monospace !important;

  @at-root html.cs-dark & {
    box-shadow: var(--code-shadow);
  }
}

.v-popper__popper.v-popper__popper--show-from .v-popper__wrapper {
  transform: scale(0.5);
}

.v-popper__popper.v-popper__popper--show-to .v-popper__wrapper {
  transform: none;
  transition: transform 75ms;
}

.v-popper--theme-dropdown .v-popper__arrow-inner {
  border: none;
}

.v-popper--theme-dropdown .v-popper__arrow-outer {
  border-color: white;
}

.v-popper--theme-dropdown .v-popper__inner {
  border-radius: 0.6rem;
  font-size: 1rem;
  border: none;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.ui-menu {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 0.25rem;
}

.ui-menu-item {
  padding: 0.6rem;

  text-decoration: none !important;

  display: flex;
  align-items: center;

  transition: all 125ms ease-in-out;

  border: none;
  border-radius: 0.6rem;

  color: black;

  background: transparent;
  font-size: 1rem;

  .material-symbols-rounded {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  img {
    height: 1rem;
    margin-right: 0.5rem;
  }

  &:hover {
    background: #eee;
  }

  &:active {
    background: #ddd;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }

  &.red {
    color: red;
  }

  .badge {
    margin-left: auto;
    font-size: 0.8rem;
    padding: 0.1rem 0.4rem;
    border-radius: 0.4rem;
    background: black;
    color: white;
    font-weight: 600;
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

.wrapped-code-window {
  position: relative;

  .wrapped-code-window-images {
    position: relative;
    bottom: -0.125rem;

    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &.bottom {
      top: -0.125rem;
      //align-items: flex-start;
      transform: rotate(180deg);
      filter: grayscale(1);
    }

    img {
      height: 1rem;

      &:nth-child(5) {
        height: 2rem;
      }
    }

    @media screen and (max-width: 786px) {
      bottom: -0.05rem;

      padding-left: 1rem;
      padding-right: 1rem;

      &.bottom {
        top: -0.05rem;
      }

      img {
        height: 0.75rem;

        &:nth-child(5) {
          height: 1.25rem;
        }
      }
    }
  }
}

ul {
  li {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.code-window-wrapper {
  position: relative;
}

.code-window {
  position: relative;

  background: black;
  padding: 0.5rem;
  padding-top: 2rem;
  border-radius: 1rem;
  box-shadow: var(--code-shadow);

  font-size: 1rem;
  z-index: 1;

  &-buttons {
    margin-top: 0.5rem;

    display: flex;

    .button {
      font-size: 0.8rem;

      display: flex;
      align-items: center;

      img {
        margin-right: 0.33rem;
        height: 1em;
      }
    }
  }

  pre {
    margin: 0;
  }
}

.code-window-names {
  position: absolute;
  display: flex;
  top: -0.5rem;
  background: black;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
  left: 0;
  z-index: unset;
  box-shadow: var(--code-shadow);
  max-width: 100%;
  overflow-x: auto;

  &::before {
    position: absolute;
    inset: 0;
    background: black;
    content: "";
    border-radius: inherit;
    z-index: 1;
  }

  .code-window-name {
    position: relative;
    z-index: 2;
    background: transparent;
    border: none;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 0.8rem;
    color: #999;
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &-active {
      background: #9d3425;
      color: var(--bg-color);
    }
  }
}

.hljs {
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: black;
  }

  &::-webkit-scrollbar-thumb {
    background: #5c6370;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #abb2bf;
  }
}

.code-window-full {
  padding-top: 0.5rem;

  .hljs {
    max-width: 100% !important;
  }
}

@import "buttons";
