@import "highlight.js/styles/atom-one-dark.css";
@import "floating-vue/dist/style.css";

html {
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0;

  --bg-color: #ffffff;
  --text-color: #000000;
  --hint-color: #444444;
  --code-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --border-color: #ddd;
  --font-family: 'Rubik', sans-serif;

  @media (prefers-color-scheme: dark) {
    --bg-color: #000000;
    --text-color: #ffffff;
    --hint-color: #999999;
    --code-shadow: 0 0 0 1px #333;
    --border-color: #333;
  }
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0,
  'wght' 500,
  'GRAD' -25,
  'opsz' 48
}

.material-symbols-rounded.filled {
  font-variation-settings: 'FILL' 1,
  'wght' 500,
  'GRAD' -25,
  'opsz' 48
}

.material-symbols-rounded.bold {
  font-variation-settings: 'FILL' 0,
  'wght' 900,
  'GRAD' -25,
  'opsz' 48
}

html, body {
  padding: 0;
  margin: 0;

  font-family: var(--font-family);

  background-color: var(--bg-color);
  color: var(--text-color);
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
}

#__nuxt {
  padding: 0 1rem;

  overflow-x: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;

  max-width: 1024px;
}

.container-small {
  margin-left: auto;
  margin-right: auto;

  max-width: 640px;
}

.diia-word {
  color: #485cb0;
  font-weight: 500;
}

.nav-toggle {
  position: fixed;
  z-index: 1001;

  top: 1rem;
  left: 1rem;

  width: 54px;
  height: 54px;

  font-size: 1.5rem;
  background-color: rgba(var(--bg-color_rgb), .1);
  border: none;
  border-radius: 2px;

  background-image: radial-gradient(transparent 1px, var(--bg-color) 1px);
  background-size: 4px 4px;
  backdrop-filter: saturate(50%) blur(4px);

  color: var(--text-color);

  @media screen and (min-width: 956px) {
    display: none;
  }
}

pre, code {
  font-family: "Fira Code", monospace !important;
  font-weight: 500;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.external {
  font-weight: 500;
}

.hljs {
  background-color: black !important;
}

//.hljs-title.function_ {
//  color: lighten(#9d3425, 20) !important;
//}

a {
  text-decoration: none;
  color: var(--text-color);
}

.star {
  font-size: 8px;
}

.logo-dark,
.logo-light {
  display: none;
}

.cs-light {
  .logo-dark {
    display: none;
  }

  .logo-light {
    display: inline;
  }
}

.cs-dark {
  .logo-light {
    display: none;
  }

  .logo-dark {
    display: inline;
  }
}

blockquote {
  border-left: 0.5rem solid black;
  margin: 1.5em 0;
  padding: 0.5em 1rem;
  quotes: none;
}

.small-code {
  font-size: 0.8rem;
  padding: .1rem .25rem;
}

.v-popper__popper.v-popper__popper--show-from .v-popper__wrapper {
  transform: scale(0.5);
}

.v-popper__popper.v-popper__popper--show-to .v-popper__wrapper {
  transform: none;
  transition: transform 75ms;
}

.v-popper--theme-dropdown .v-popper__arrow-inner {
  border: none;
}

.v-popper--theme-dropdown .v-popper__arrow-outer {
  border-color: white;
}

.v-popper--theme-dropdown .v-popper__inner {
  border-radius: 0.6rem;
  font-size: 1rem;
  border: none;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.ui-menu {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 0.25rem;
}

.ui-menu-item {
  padding: 0.6rem;

  text-decoration: none !important;

  display: flex;
  align-items: center;

  transition: all 125ms ease-in-out;

  border: none;
  border-radius: 0.6rem;

  color: black;

  background: transparent;
  font-size: 1rem;

  .material-symbols-rounded {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  img {
    height: 1rem;
    margin-right: 0.5rem;
  }

  &:hover {
    background: #eee;
  }

  &:active {
    background: #ddd;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }

  &.red {
    color: red;
  }
}

@import "buttons";
